<header>
  <h1>Quiz Base Alpha</h1>

</header>
<div id="leaderboard" ng-controller="AppController">
  <table>
    <tr>
      <th>Username</th>
      <th>Score</th>
    </tr>
    <tr>
      <th ng-model="$ctrl.data[0]">{{$ctrl.data[0][0].username}}</th>
      <th ng-model="$ctrl.leaderData">{{$ctrl.data[0][0].score}}</th>
    </tr>
  </table>
</div>
<div class="main">
  <form ng-submit="$ctrl.submit()">
    <div class="input">
      Username:<input type="text" name="text" maxlength="15" ng-model="$ctrl.username"><!--
    --><input type="submit" class="btn" id="submit" value="submit" ng-click="$ctrl.getData()">
    <input type="submit" class="btn" id="test" value="test" ng-click="$ctrl.test()">
    </div>
    <div class="question">
      <p>What is Princess Leia's last name?</p>
      <div class="answers">
        <input type="radio" name="1q" ng-click="$ctrl.myFunc()">Organa<br>
        <input type="radio" name="1q" >Solo<br>
        <input type="radio" name="1q" >Skywalker<br>
        <input type="radio" name="1q" >Something else...<br>
      </div>
    </div><br><br>
    <div class="question">
      <p>What was Luke planning to pick up at Tosche Station?</p>
      <div class="answers">
        <input type="radio" name="2q">Energy Converters<br>
        <input type="radio" name="2q">Battery Packs<br>
        <input type="radio" name="2q" ng-click="$ctrl.myFunc()">Power Converters<br>
        <input type="radio" name="2q">Power Packs<br>
      </div>
    </div><br><br>
    <div class="question">
      <p>Where did Luke Skywalker race his skyhopper?</p>
      <div class="answers">
        <input type="radio" name="3q">Waldo Flats<br>
        <input type="radio" name="3q">The Dune Sea<br>
        <input type="radio" name="3q" ng-click="$ctrl.myFunc()">Beggar's Canyon<br>
        <input type="radio" name="3q">The Desert Plain<br>
      </div>
    </div><br><br>
    <div class="question">
      <p>Who said: "One thing's for sure-we're all gonna be a lot thinner"?</p>
      <div class="answers">
        <input type="radio" name="4q">Princess Leia<br>
        <input type="radio" name="4q">C-3PO<br>
        <input type="radio" name="4q" ng-click="$ctrl.myFunc()">Han Solo<br>
        <input type="radio" name="4q">Luke Skywalker<br>
      </div>
    </div><br><br>
    <div class="question">
      <p>According to Obi-Wan Kenobi, for how long had the Jedi been the guardians of peace and justice in the galaxy?</p>
      <div class="answers">
        <input type="radio" name="5q">More than a hundred generations<br>
        <input type="radio" name="5q" ng-click="$ctrl.myFunc()">More than a thousand generations<br>
        <input type="radio" name="5q">More than two millennia<br>
        <input type="radio" name="5q">More than two thousand years<br>
      </div>
    </div><br><br>
    <div class="question">
      <p>Who said to Princess Leia. "I care"?</p>
      <div class="answers">
        <input type="radio" name="6q">Obi-Wan Kenobi<br>
        <input type="radio" name="6q" ng-click="$ctrl.myFunc()">Luke Skywalker<br>
        <input type="radio" name="6q">Han Solo<br>
        <input type="radio" name="6q">C-3PO<br>
      </div>
    </div><br><br>
    <div class="question">
      <p>What was Han Solo's homeworld?</p>
      <div class="answers">
        <input type="radio" name="7q">Dantooine<br>
        <input type="radio" name="7q" ng-click="$ctrl.myFunc()">Corellia<br>
        <input type="radio" name="7q">Coruscant<br>
        <input type="radio" name="7q">Alderaan<br>
      </div>
    </div><br><br>
    <div class="question">
      <p>Who said, "I recognized your foul stench when I was brought on board"?</p>
      <div class="answers">
        <input type="radio" name="8q">Darth Vader<br>
        <input type="radio" name="8q">Grand Moff Tarkin<br>
        <input type="radio" name="8q" ng-click="$ctrl.myFunc()">Princess Leia<br>
        <input type="radio" name="8q">Obi-Wan Kenobi<br>
      </div>
    </div><br><br>
    <div class="question">
      <p>What was Jabba the Hutt's homeworld?</p>
      <div class="answers">
        <input type="radio" name="9q">Da Soocha V<br>
        <input type="radio" name="9q">Tatooine<br>
        <input type="radio" name="9q" ng-click="$ctrl.myFunc()">Nal Hutta<br>
        <input type="radio" name="9q">Nar Shaddaa<br>
      </div>
    </div><br><br>
    <div class="question">
      <p>Of whom was Grand Moff Tarkin speaking when he said, "Surely he must be dead by now"?</p>
      <div class="answers">
        <input type="radio" name="10q">Qui-Gon Jinn<br>
        <input type="radio" name="10q">Yoda<br>
        <input type="radio" name="10q" ng-click="$ctrl.myFunc()">Obi-Wan Kenobi<br>
        <input type="radio" name="10q">Quinlan Vos<br>
      </div>
    </div><br><br>
    <input type="submit" class="btn" id="submit" value="submit" href="#">
  </form>
</div>
